*{
  font-family: 'Fredoka One', cursive;
}


body {
    padding: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #6a994e;
    height: 800px;;
    background-image: url(/images/background.jpg);
    background-size: cover;
    background-position: center;
    
  }


.game-intro {
    padding: 0% 10%;
    align-items: stretch;
    top: 50%;
    left: 50%;
}

.game-intro h1{
  font-size: 25px;
  color: #f2e8cf;
  text-shadow: 4px 4px #000802;
  
}


canvas{
    background-color: #386641;
    border: 10px solid #f2e8cf;
    border-radius: 8%;
}

#dino h1{
  margin-top: 5%;
  letter-spacing: 15px;
  font-size: 100px;
  font-style: italic;
  color: #f0e8cf;
  text-shadow: 5px 5px #315a39;
}

body button {
    font-size: 30px;
    background-color: #bc4749;
    color: #f2e8cf;
    text-shadow: 2px 2px #386641;
    padding: 20px 40px;
    border: 0;
    box-shadow: 0;
    border-radius: 5px;
    margin-bottom: 20px;
    border-radius: 12px;
    border: 10px solid #2c4e33;
    text-shadow: 2px 2px #386645;
  }
  

#game-board {
    float: left;
    padding: 20px 0px;
}